<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.api.goods.mapper.ISkuMapper">

    <select id="findRecommendNewProductList" resultType="com.fh.shop.api.goods.po.Sku">
        SELECT k.id,k.skuName,k.price,k.colorImage FROM t_sku k LEFT JOIN t_spu p ON k.spuId = p.id WHERE p.newProduct = 1 AND p.recommend = 1 AND p.status = 1;
    </select>

</mapper>